<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link " href="controllerLabo.php">LABORATOIRES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="controllerUser.php">COBAYES</a>
    </li>


</ul>